@import url("fonts.css");

html,
body {
	height: 100%;
}

body {
	background: #0F1215;
	font: 16px/30px "merriweather-regular", serif;
	font-weight: normal;
	margin: 0;
}
.row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}

textarea {
	display: block;
	padding: 18px 20px;
	border: 0;
	font-family: "raleway-bold", sans-serif;
	font-size: 15px;
	line-height: 24px;
	border-radius: 3px;
	max-width: 100%;
	background: rgba(255, 255, 255, 0.1);
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	resize: none;
	color: white;
}

button {
	display: inline-block;
	font: 16px/30px "raleway-heavy", sans-serif;
	padding: 9px 16px;
	margin: 0 3px 6px 0;
	background: #FFFFFF;
	color: #000000;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}

button:hover
 {
	color: #FFFFFF;
	background: #e64e04;
}


header {
	width: 100%;
	position: fixed;
	transition: all 0.5s ease-in-out;

}
header.opaque {
	background: black;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#nav-wrap,
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
	margin: 0;
	padding: 0;
}

#nav-wrap {
	font: 13px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

#nav-wrap > a {
	display: none;
}

ul#nav li {
	position: relative;
	list-style: none;
	display: inline-block;
	height: 66px;
}


ul#nav li a {
	display: block;
	padding: 14px 12px;
	line-height: 38px;
	text-decoration: none;
	text-align: left;
	color: #FFFFFF;
	position: relative;
	transition: color 0.2s ease-in-out;
}

ul#nav li a:hover {
	color: #fdc501;
}

#services {
	background: #12151B;
	padding-top: 120px;
	padding-bottom: 120px;
	border-bottom: 1px solid #15191d;
}
